@import "../../../styles/color"
@import "../../../styles/sizing"
@import "../../../styles/spacing"

button
  @extend .fluid
  @extend .py-s
  @extend .px-m

  background: none
  cursor: pointer

  &:disabled
    color: $color-fg-muted
    text-decoration: line-through
    cursor: not-allowed

    &:hover
      color: $color-fg-muted


  &:hover
    color: $color-accent
