@import "color"

=glow-small($color)
  box-shadow: 0 0 0.02em 0 $color, 0 0 0.05em 0 $color

=glow-large($color)
  box-shadow: 0 0 0.2em 0.01em $color, 0 0 0.5em 0.05em $color

=border($dir)
  .border-#{$dir}
    border-#{$dir}: 1px solid $color-fg-muted

    &.accent
      border-#{$dir}-color: $color-accent

    &.red
      border-#{$dir}-color: $red

    &.green
      border-#{$dir}-color: $green

    &:disabled
      border-#{$dir}-color: $color-bg-muted


+border('left')
+border('right')
+border('top')
+border('bottom')

.border-y
  @extend .border-bottom
  @extend .border-top

.border-x
  @extend .border-left
  @extend .border-right

.border
  @extend .border-y
  @extend .border-x

  &:disabled
    box-shadow: none

.glow
  +glow-large($color-fg-muted)

  &.accent
    +glow-large($color-accent)

  &.red
    +glow-large($red)

  &.green
    +glow-large($green)

  &:disabled
    box-shadow: none

.glow-hover:hover
  +glow-large($color-fg-muted)

  &.accent
    +glow-large($color-accent)

  &.red
    +glow-large($red)

  &.green
    +glow-large($green)

  &:disabled
    box-shadow: none