@import "border"
@import "color"
@import "spacing"

input[type=text], input[type=password]
  @extend .mx-s
  @extend .my-m
  @extend .p-s
  @extend .border
  background-color: $color-bg

  &:focus
    @extend .accent
    @extend .glow

  &:disabled
    background-color: $color-bg-muted
    cursor: not-allowed

button
  @extend .py-s
  @extend .px-l
  border: none
  text-align: center
  background-color: $color-bg

  &:focus
    outline: none

  &:hover
    cursor: pointer

  &:disabled, &:disabled *
    color: $color-fg-muted
    cursor: not-allowed

hr
  @extend .w-100
  @extend .my-s
  @extend .mx-none
  height: 1px
  color: $color-fg-muted
