<div class="col w-50">
  <label>
    <input type="text" name="username" placeholder="Username" class="w-100" [(ngModel)]="username">
  </label>
  <label>
    <input type="password" name="password" placeholder="Password" class="w-100" (keydown)="this.keydown($event)" [(ngModel)]="password">
  </label>
  <div class="row m-s">
    <div class="grow">
      <span class="error" *ngIf="this.error.length > 0">{{this.error}}</span>
    </div>
    <button class="hover-accent">Login</button>
  </div>
</div>
