@import "../../styles/border"
@import "../../styles/color"
@import "../../styles/container"
@import "../../styles/sizing"
@import "../../styles/spacing"
@import "../../styles/text"

.outer
  @extend .fluid
  @extend .col
  @extend .center
  position: absolute
  z-index: 100
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: scale-color($color-bg, $alpha: -50%)

  &.loading
    cursor: wait

  &.finished
    cursor: pointer

  &.not-loading
    background: none
    opacity: 0
    z-index: -1

  .inner
    @extend .border
    @extend .p-s
    max-width: 90%
    background-color: $color-bg
    cursor: auto 

    z-index: 101
    & *
      z-index: 101

    .loading
      @extend .col
      @extend .center

      cursor: wait

      .spinner
        @extend .m-m
        font-size: 200%
        user-select: none

      .progress
        user-select: none

    .finished
      @extend .col
      @extend .center

      .title-bar
        @extend .pb-s
        @extend .border-bottom
        @extend .row
        @extend .w-100
  
        .spacer
          @extend .row
          @extend .grow
          @extend .w-100

          .grow
            @extend .w-100
  
        .success
          color: $green
          font-size: 150%
        
        .error
          color: $red
          font-size: 150%
  
        .close
          @extend .text-glow-hover
          @extend .red
          @extend .p-s
          cursor: pointer
          user-select: none

          & path
            color: $red
  
      .body
        @extend .w-100
        @extend .p-s
        @extend .my-s
        word-wrap: anywhere
  
      .close
        @extend .red
        @extend .glow-hover