<div [class]="this.outerClass" (click)="this.close($event)">
  <div [class]="this.innerClass">
    <div class="loading" *ngIf="this.state === 'loading'">
      <b class="spinner" *ngIf="this.state === 'loading'">{{this.spinnerState}}</b>
      <span class="progress" *ngIf="this.progress !== null && this.total !== null">{{this.pctString}}</span>
    </div>
    <div class="finished" *ngIf="this.result !== null">
      <div class="title-bar">
        <div class="spacer"></div>
        <b class="success" *ngIf="this.result.isSuccess()">success</b>
        <b class="error" *ngIf="this.result.isError()">error</b>
        <div class="spacer">
          <div class="grow"></div>
          <fa-icon [icon]="['fas', 'times']" class="close" (click)="this.close()"></fa-icon>
        </div>
      </div>
      <div class="body">
        {{this.result.value}}
      </div>
      <button class="close" (click)="this.close()">Close</button>
    </div>
  </div>
</div>
