<div [class]="this.class + ' relative ' + this.stateClass">
  <ng-content></ng-content>
  <div class="dialog" *ngIf="this.state !== 'not-loading'">
    <div class="col my-m" *ngIf="this.state === 'loading'">
      <b class="size-200 my-s" *ngIf="this.state === 'loading'">{{this.spinnerState}}</b>
      <span class="size-150">{{this.pctString}}</span>
    </div>
    <div *ngIf="this.result !== null">
      <span class="close" (click)="this.close()">X</span>
      <b class="size-200 success pb-s" *ngIf="this.result.isSuccess()">success</b>
      <b class="size-200 failure pb-s" *ngIf="this.result.isError()">error</b>
      <p class="w-50">
        {{this.result.value}}
      </p>
    </div>
  </div>
</div>
