@import "../../styles/border"
@import "../../styles/color"
@import "../../styles/container"
@import "../../styles/sizing"
@import "../../styles/text"

.relative
  position: relative

.dialog
  @extend .col
  @extend .center
  @extend .fluid
  @extend .border
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1
  background-color: scale-color($color-bg, $alpha: -50%)

.loading
  @extend .col

  &.hidden
    opacity: 0
    z-index: -1

.results
  @extend .col
  position: relative

.success
  color: $green

.failure
  color: $red

.close
  position: absolute
  right: 0.5em
  top: 0.5em
  @extend .size-150
  cursor: pointer
  user-select: none
  color: $red
  @extend .text-glow-hover
  @extend .red
