<div (click)="this.close($event)" [class]="this.outerClass">
  <div [class]="this.innerClass">
    <div *ngIf="this.state === 'loading'" class="loading">
      <b *ngIf="this.state === 'loading'" class="spinner">{{this.spinnerState}}</b>
      <span *ngIf="this.progress !== null && this.total !== null" class="progress">{{this.pctString}}</span>
    </div>
    <div *ngIf="this.result !== null" class="finished">
      <div class="title-bar">
        <div class="spacer"></div>
        <b *ngIf="this.result.isSuccess()" class="success">success</b>
        <b *ngIf="this.result.isError()" class="error">error</b>
        <div class="spacer">
          <div class="grow"></div>
          <fa-icon (click)="this.close()" [icon]="['fas', 'times']" class="close"></fa-icon>
        </div>
      </div>
      <div class="body">
        {{this.result.value}}
      </div>
      <button (click)="this.close()" class="close">Close</button>
    </div>
  </div>
</div>
