<div class="w-80 col">
  <div class="book-edit-content">
    <div class="img-container fill-height fluid grow">
      <img [src]="this.coverUrl()" alt="Book Cover">
    </div>
    <app-key-value-editor [(keyValuePairs)]="this.book.metadata"></app-key-value-editor>
  </div>
  <div class="row space-evenly" *ngIf="!this.confirm_delete">
    <button class="border-accent hover-glow-accent grow" (click)="this.cancel.emit()">
      <fa-icon class="mr-xs" [icon]="['fas', 'ban']"></fa-icon>
      Cancel
    </button>
    <button class="hover-glow-red grow" (click)="this.handleSubmit()">
      <fa-icon class="mr-xs" [icon]="['fas', 'save']"></fa-icon>
      Save
    </button>
    <button class="hover-glow-red grow" (click)="this.confirm_delete = true" *ngIf="this.auth.hasRole('admin')">
      <fa-icon class="mr-xs" [icon]="['fas', 'trash']"></fa-icon>
      Delete
    </button>
  </div>
  <div class="row" *ngIf="this.confirm_delete">
    <button class="glow-hover-red grow" (click)="this.del.emit()">
      <fa-icon class="mr-xs" [icon]="['fas', 'trash']"></fa-icon>
      Confirm Delete
    </button>
    <button class="border-accent glow-hover-accent grow" (click)="this.confirm_delete = false">
      <fa-icon class="mr-xs" [icon]="['fas', 'ban']"></fa-icon>
      Cancel
    </button>
  </div>
</div>
