<div class="searchbar">
  <div class="input">
    <label>
      <input (keyup)="onKeyUp($event)" [(ngModel)]="searchText" placeholder="Search" type="text">
    </label>
    <button (click)="this.searchText.length > 0 && this.search.emit(searchText)">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </button>
  </div>
  <div class="my-s w-100 relative">
    <div *ngIf="this.suggestions.length > 0" class="suggestions">
      <div (click)="this.onClickSuggestion.emit(suggestion)" *ngFor="let suggestion of suggestions" class="suggestion">
        <div class="text">{{suggestion.title}}</div>
        <div class="type"></div>
      </div>
    </div>
  </div>
</div>
