@import "frontend/src/styles/border"
@import "frontend/src/styles/color"
@import "frontend/src/styles/container"
@import "frontend/src/styles/form"
@import "frontend/src/styles/spacing"
@import "frontend/src/styles/sizing"

div.searchbar
  @extend .col
  @extend .w-100
  position: relative

  & > div.input
    @extend .row
    @extend .w-100
    @extend .border

    label
      @extend .w-100
      @extend .grow
      @extend .m-none

      input[type=text]
        @extend .w-100
        @extend .m-none
        @extend .p-m
        position: relative
        border: none

        &:focus
          z-index: 1

    button
      @extend .glow-hover
      @extend .accent
      @extend .py-m
      position: relative
      border: none

      &:hover
        z-index: 1


  & div.suggestions
    @extend .col
    @extend .w-100
    @extend .border
    position: absolute


    & > div.suggestion
      @extend .w-100
      @extend .row
      @extend .px-m
      @extend .py-s
      @extend .accent
      @extend .glow-hover
      @extend .border-bottom

      &:after
        height: 1px
        color: $color-fg-muted

      &:hover
        background-color: $color-bg-muted
        cursor: pointer

      & > .text
        @extend .grow
        text-overflow: ellipsis

      & > .type
        font-weight: 300
        color: $color-fg-muted
