<app-navbar></app-navbar>
<div class="fluid col center">
  <app-book-view (edit)="this.editing = true" *ngIf="this.hasBook() && !this.editing" [book]="this.book.value">
  </app-book-view>
  <app-book-edit (cancel)="this.editing = false" (del)="this.deleteBook()" (submit)="this.submitChanges($event)"
                 *ngIf="this.hasBook() && this.editing" [book]="this.book.value"></app-book-edit>
  <div *ngIf="this.book !== null && this.book.isError()" class="w-50 col error">
    <h2 class="p-s">error</h2>
    <p>{{this.book.value}}</p>
  </div>
</div>
<app-loading (closed)="this.onClose()" [promise]="this.promise" class="fluid col center"></app-loading>
