<div class="w-100 col">
  <div class="outer">
    <div class="text">
      <p>Click here or drag a pdf.</p>
    </div>
    <input #file_input type="file" name="book" accept="application/pdf">
    <input type="hidden" name="filename" [(ngModel)]="this.filename">
    <canvas #pdf_preview></canvas>
  </div>
  <button class="accent border glow-hover w-100 mt-m" [disabled]="this.filename === null" (click)="this.tryUpload()">
    <fa-icon class="mr-xs" [icon]="['fas', 'upload']"></fa-icon>
    {{this.uploadText}}
  </button>
</div>