<app-navbar></app-navbar>
<form #upload_form class="w-50 h-100 col center" enctype="multipart/form-data" method="post">
  <label class="w-100">
    <input [(ngModel)]="this.title" class="w-100" name="title" placeholder="Title" type="text">
  </label>
  <app-file-uploader (newFilename)="this.title = $event" (upload)="this.upload()" class="w-100"></app-file-uploader>
</form>
<app-loading (closed)="this.onClose()" [progress]="this.progress"
             [promise]="this.loadingPromise" [total]="this.total"></app-loading>
