<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BookBank · Phoenix Framework</title>
	<base href="/">
  </head>
  <body>
	<app-root></app-root>
	<script src="<%= Routes.static_path(@conn, "/frontend/runtime.js") %>" defer></script>
	<script src="<%= Routes.static_path(@conn, "/frontend/polyfills.js") %>" defer></script>
	<script src="<%= Routes.static_path(@conn, "/frontend/styles.js") %>" defer></script>
	<script src="<%= Routes.static_path(@conn, "/frontend/vendor.js") %>" defer></script>
	<script src="<%= Routes.static_path(@conn, "/frontend/main.js") %>" defer></script>
  </body>
</html>
